---
import { Image } from "astro:assets";
import { getImagesByFolders } from "@/utils/image.util";

type Props = {
  ids: string | string[];
  class?: string;
  itemClass?: string;
  imgClass?: string;
};

const {
  ids = [],
  class: classList,
  itemClass,
  imgClass,
} = Astro.props as Props;

const images = getImagesByFolders(ids);
---

<div class:list={["js-photoswipe", classList]}>
  {
    images.map((image, i) => (
      <a
        href={image.src}
        data-pswp-width={image.width}
        data-pswp-height={image.height}
        data-cropped="true"
        class:list={[
          "aspect-square overflow-hidden rounded-md border border-gray-300 shadow-xs transition-colors hover:border-gray-400",
          itemClass,
        ]}
        target="_blank"
      >
        <Image
          src={image}
          alt={`Foto #${i}`}
          width={320}
          height={320}
          loading={"lazy"}
          class:list={[
            "h-full w-full object-cover object-center opacity-100 blur-none transition hover:opacity-80 starting:opacity-0 starting:blur-sm",
            imgClass,
          ]}
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: ".js-photoswipe",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
