---
import { Image, getImage } from "astro:assets";
import { getCollection } from "astro:content";
import { capitalize, slugify } from "@/utils/text";
import { Leaflet } from "astro-leaflet";
import type { AstroLeafletOptionsType } from "astro-leaflet";
import WhatsAppForm from "@/components/WhatsAppForm.astro";
import ProductGrid from "@/components/produk/ProductGrid.astro";
import Hgroup from "@/components/ui/Hgroup.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

// Buat path untuk semua entri produk
export async function getStaticPaths() {
  const collection = await getCollection("produk");
  return collection.map((produk) => ({
    params: { id: produk.id },
    props: { produk },
  }));
}

// Data props
const { produk } = Astro.props;

const {
  label,
  gambar,
  alamat,
  kabko,
  provinsi,
  lokasi,
  jenis,
  ukuran,
  orientasi,
  lampu,
  sisi,
  arah,
} = produk.data;

const tempat = [alamat, kabko, provinsi].join(", ");
const spesifikasi = { jenis, ukuran, orientasi, lampu, sisi, arah, alamat };

// Metadata halaman
const meta = {
  label: `${jenis} di ${kabko}, ${provinsi}`,
  deskripsi: `Sewa ${jenis} di ${tempat}.`,
  ogImage: (await getImage({ src: gambar })).src,
};

/**
 * PETA
 */
const geojson = JSON.parse(lokasi);
const lat = geojson.coordinates[1];
const lng = geojson.coordinates[0];
const leafletOptions: AstroLeafletOptionsType = {
  center: [lat, lng],
  markers: [
    {
      latlng: [lat, lng],
      options: { alt: tempat, title: tempat },
    },
  ],
  zoom: 100,
};

// Titik lain sesuai dengan provinsi produk
const titikLain = await getCollection("produk", ({ data }) => {
  return data.provinsi === provinsi;
});

const produkData = await Promise.all(
  titikLain.map(async (item) => {
    const image = await getImage({
      src: item.data.gambar,
      width: 400,
      height: 400,
    });

    return {
      id: item.id,
      label: item.data.label,
      alamat: item.data.alamat,
      kabko: item.data.kabko,
      provinsi: item.data.provinsi,
      jenis: item.data.jenis,
      ukuran: item.data.ukuran,
      detailUrl: `/produk/detail/${item.id}/`,
      imageSrc: image.src,
    };
  }),
);
---

<PageLayout {...meta}>
  <div class="mb-4 grid gap-y-4 lg:grid-cols-[1fr_35%] lg:gap-6 xl:mb-8 xl:gap-8">
    <Image src={gambar} alt={label} width={1024} class="order-1 rounded-sm" priority />

    <div class="order-3 lg:order-2 space-y-4">
      <div
        class="grid grid-cols-2 gap-px overflow-hidden rounded-sm border border-gray-200 bg-gray-200 text-center"
      >
        {
          Object.entries(spesifikasi).map(([label, value]) => (
            <div
              class={`${label === "alamat" ? "col-span-2" : ""} flex flex-col justify-center bg-white p-4`}
            >
              <span class="font-bold text-lg">{capitalize(label)}</span>
              {label === "alamat" ? (
                <>
                  <a
                    href={`https://www.google.com/maps/?q=${lat},${lng}`}
                    target="_blank"
                    class="hover:text-blue-500"
                  >
                    {tempat}
                  </a>
                  <span class="text-xs text-gray-600 italic mt-4">
                    * Klik alamat untuk membuka Google Maps
                  </span>
                </>
              ) : (
                <span>{Array.isArray(value) ? value.join(", ") : String(value)}</span>
              )}
            </div>
          ))
        }
      </div>

      <button
        class="w-full rounded-sm bg-yellow-600 p-3 text-center text-xl font-semibold text-white uppercase transition-colors hover:bg-blue-600 lg:p-5"
        command="show-modal"
        commandfor="ModalKontakForm">Saya Tertarik</button
      >
    </div>

    {/* Produk Map */}
    <div class="order-2 lg:order-3 lg:col-span-2 overflow-hidden rounded-sm">
      <Leaflet options={leafletOptions} class="isolate" />
    </div>
  </div>

  {/* Titik Lain */}
  <div class="mt-24 mb-12">
    <Hgroup as="h2" label={`Titik Lain di ${provinsi}`} class="mb-4" />
    <ProductGrid products={produkData} itemsPerPage={4} />
  </div>

  {/* WhatsApp Form */}
  <dialog
    id="ModalKontakForm"
    class:list={[
      "m-auto",
      "w-xl",
      "max-w-[calc(100%-2rem)]",
      "overflow-hidden",
      "rounded-sm",

      "opacity-0",
      "scale-90",

      "transition-all",
      "transition-discrete",
      "duration-500",

      "backdrop:bg-black/90",
      "backdrop:opacity-0",
      "backdrop:backdrop-blur-xs",
      "backdrop:transition-all",
      "backdrop:transition-discrete",
      "backdrop:duration-500",

      "open:opacity-100",
      "open:scale-100",
      "open:backdrop:opacity-100",

      "starting:open:opacity-0",
      "starting:open:scale-90",
      "starting:open:backdrop:opacity-0",
    ]}
    closedby="any"
  >
    <WhatsAppForm />
    <button
      class="absolute top-5 right-4 cursor-pointer"
      command="close"
      commandfor="ModalKontakForm"><Icon name="bi:x-lg" size="24" /></button
    >
  </dialog>
</PageLayout>
