---
import Section from "../layouts/Section.astro";
import { kontak, medsos } from "@/data/kontak";
import { getKontenById } from "@/utils/konten.util";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import mapImg from "@/assets/kontak/0.jpg";
const konten = getKontenById("kontak");
const kantor1href = kontak.find((item) => item.id === "kantor-1")!.href;
---

<Section
  id={konten.id}
  label={konten.label}
  deskripsi={konten.deskripsi}
  class="border-t border-gray-300"
>
  <div class="flex flex-col lg:flex-row lg:items-center lg:gap-x-8">
    <div
      class="aspect-4/3 overflow-hidden rounded-md border border-gray-300 shadow-xs transition-colors hover:border-gray-400 lg:aspect-auto lg:w-1/2"
    >
      <a href={kantor1href} rel="me">
        <Image
          src={mapImg}
          alt={"Peta kantor CV. Bintang Surya Madani"}
          class="h-full w-full object-cover object-center opacity-100 blur-none transition hover:scale-102 hover:opacity-80 starting:opacity-0 starting:blur-sm"
          loading="lazy"
        />
      </a>
    </div>

    <div class="lg:w-1/2">
      <ul class="flex flex-col">
        {
          kontak.map((item) => (
            <li class="border-b border-dashed border-gray-300">
              <a
                href={item.href}
                class="group flex gap-x-4 py-4 xl:py-6"
                rel="me"
              >
                <span class="mt-px shrink-0">
                  <Icon
                    name={`bi:${item.ikon}`}
                    class="text-2xl transition-colors group-hover:text-blue-500"
                  />
                </span>
                <span class="flex grow flex-col">
                  <span class="font-bold">{item.label}</span>
                  <span>{item.lokasi}</span>
                </span>
              </a>
            </li>
          ))
        }
        <li
          class="flex flex-wrap justify-start gap-2 py-4 xl:py-6 pl-10 sm:justify-between sm:gap-4"
        >
          {
            medsos.map((item) => (
              <a
                href={item.href}
                class="flex aspect-square items-center justify-center rounded-md border border-gray-300 bg-gray-200/35 p-2 text-3xl shadow-xs transition-colors hover:bg-white hover:text-blue-500"
                rel="me"
              >
                <Icon name={`bi:${item.id}`} />
              </a>
            ))
          }
        </li>
      </ul>
    </div>
  </div>
</Section>
