---
import { Image, getImage } from "astro:assets";
import { getImagesByFolders } from "@/utils/image";

type Props = {
  ids: string | string[];
  class?: string;
  itemClass?: string;
  imgClass?: string;
};

const { ids, class: className, itemClass, imgClass } = Astro.props;

const rawImages = getImagesByFolders(ids);

const images = await Promise.all(
  rawImages.map(async (image) => {
    const largeImage = await getImage({
      src: image,
      format: "webp",
      quality: "mid", // Adjust quality as needed
    });
    return {
      original: image,
      large: largeImage,
    };
  }),
);
---

<div class:list={["photoswipe", className]}>
  {
    images.map(({ original, large }, i) => (
      <a
        href={large.src}
        data-pswp-width={large.attributes.width}
        data-pswp-height={large.attributes.height}
        data-cropped="true"
        class:list={["overflow-hidden", itemClass]}
        target="_blank"
      >
        <Image
          src={original}
          alt={`Foto #${i}`}
          width={320}
          height={320}
          loading="lazy"
          class:list={["size-full object-cover object-center", imgClass]}
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: ".photoswipe",
    children: "a",

    closeTitle: "Tutup",
    zoomTitle: "Perbesar foto",
    arrowPrevTitle: "Ke foto sebelumnya",
    arrowNextTitle: "Ke foto selanjutnya",
    errorMsg: "Terjadi kesalahan, foto tidak bisa dimuat",

    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
