---
import { data } from "@/content/data/kontak.json";
const nomorWhatsApp = data.whatsapp.replace("0", "62");

const twInputSelectTextarea =
  "mt-1 w-full rounded-sm font-normal border border-gray-200 bg-gray-50 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-500";
---

<div
  class="border border-blue-50 bg-white shadow-2xl shadow-blue-500/20 overflow-hidden rounded-md"
  aria-label="Formulir Konsultasi"
>
  <h3 class="border-b border-gray-100 p-4 text-xl font-semibold rounded-t-sm">
    Konsultasikan dengan kami
  </h3>

  <form
    id="WhatsAppForm"
    class="p-4 flex flex-col gap-y-4 rounded-b-sm [&_span]:font-semibold [&_span]:text-sm [&_i]:text-red-500"
    data-wa={nomorWhatsApp}
  >
    <label>
      <span>Nama Anda <i>*</i></span>
      <input
        type="text"
        name="NamaAnda"
        class={twInputSelectTextarea}
        placeholder="Nama Anda"
        required
      />
    </label>

    <label>
      <span>Asal Instansi <i>*</i></span>
      <select name="AsalInstansi" class={twInputSelectTextarea} required>
        <option value="Individual" selected>Individual</option>
        <option value="Pemerintah">Pemerintah</option>
        <option value="Swasta">Swasta</option>
      </select>
    </label>

    <label id="NamaInstansiWrap" class="hidden">
      <span>Nama Instansi <i>*</i></span>
      <input
        type="text"
        name="NamaInstansi"
        class={twInputSelectTextarea}
        placeholder="Nama instansi"
      />
    </label>

    <label>
      <span>Apa yang Anda butuhkan? <i>*</i></span>
      <textarea
        name="PesanAnda"
        class={twInputSelectTextarea}
        rows="4"
        placeholder="Tuliskan pesan Anda di sini..."
        required></textarea>
    </label>

    <button
      type="submit"
      class="block w-full rounded-sm bg-[#25D366] py-4 text-center font-bold text-white shadow-lg hover:bg-[#20ba59]"
    >
      Kirim via WhatsApp
    </button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("WhatsAppForm") as HTMLFormElement | null;
    const wrapNamaInstansi = document.getElementById("NamaInstansiWrap");

    if (!form || !wrapNamaInstansi) return;

    const selectAsalInstansi = form.elements.namedItem("AsalInstansi") as HTMLSelectElement;
    const inputNamaInstansi = form.elements.namedItem("NamaInstansi") as HTMLInputElement;

    selectAsalInstansi.addEventListener("change", () => {
      const isOrg = selectAsalInstansi.value !== "Individual";
      wrapNamaInstansi.classList.toggle("hidden", !isOrg);

      if (isOrg) {
        inputNamaInstansi.required = true;
      } else {
        inputNamaInstansi.required = false;
        inputNamaInstansi.value = "";
      }
    });

    form.addEventListener("submit", (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const isOrg = formData.get("AsalInstansi") !== "Individual";
      const nama = formData.get("NamaAnda") as string;
      const instansi = formData.get("NamaInstansi") as string;
      const pesan = formData.get("PesanAnda") as string;
      const nomorWhatsApp = form.dataset.wa;

      const teks1 = "Halo Bintang Surya Madani, Semoga Anda sehat dan bahagia.\n\n";
      const teks2 = "Perkenalkan saya,\n";
      const teks3 = `*Nama:* ${nama}\n`;
      const teks4 = isOrg ? `*Instansi:* ${instansi}\n` : "";
      const teks5 = `*Pesan:* ${pesan}\n\n`;
      const teks6 = "Senang dapat menghubungi Anda. Terima kasih.";

      const teks = teks1 + teks2 + teks3 + teks4 + teks5 + teks6;
      const url = `https://wa.me/${nomorWhatsApp}?text=${encodeURIComponent(teks)}`;

      window.open(url, "_blank");
    });
  });
</script>
