---
import { slugify } from "@/utils/text"

type Props = {
  label: string
  key: string
  options: string[]
  selected?: string
  onChange?: string
}

const { label, key, options, selected = "", onChange } = Astro.props
---

<li class="relative flex items-center gap-x-2" data-role="filter-group" data-filter-group={key}>
  <label for={`filter-${key}`} class="font-bold">{label}</label>

  <select
    id={`filter-${key}`}
    name={key}
    class="border-2 border-gray-200 bg-white px-2 py-1.5 transition-colors hover:border-blue-500 focus:outline-blue-500"
    data-group={onChange === null ? key : undefined}
    aria-label={`Filter berdasarkan ${label}`}
    onchange={onChange}
  >
    <option value="" selected={selected === "" || selected === undefined}>Semua</option>
    {
      options.map(value => {
        // slugify 'value' untuk URL navigasi
        const optionValue = onChange ? slugify(value) : value
        const isSelected = onChange ? slugify(selected) === optionValue : selected === value

        return (
          <option value={optionValue} selected={isSelected}>
            {value}
          </option>
        )
      })
    }
  </select>
</li>
